@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  @apply bg-main-gray text-white  min-h-screen min-w-[350px] overflow-auto;
}

h1 {
  @apply text-4xl sm:text-3xl lg:text-4xl xl:text-5xl;
}
h2 {
  @apply text-2xl sm:text-3xl xl:text-4xl;
}
h3 {
  @apply text-xl xl:text-2xl;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}
